services:
  - type: web
    name: jee-mock-backend
    env: node
    region: ohio
    plan: free
    rootDirectory: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: PORT
        value: 10000
